repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace


-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    -   id: black

-   repo: local
    hooks:
    -   id: autoflake
        name: autoflake
        entry: autoflake
        additional_dependencies:
            - autoflake==2.3.1
        language: python
        exclude: ipynb$
        args:
        - "--in-place"
        - "--remove-unused-variables"
