lightning
torch
torchvision
pandas
torchdata
wandb
scikit-learn
matplotlib
seaborn
timm
xarray
anndata
scanpy
umap-learn
hydra-core
pyyaml
networkx
python-louvain
--extra-index-url https://pypi.nvidia.com
rapids-singlecell[rapids12]
cupy-cuda12x
pre-commit
autoflake
black
isort
