ipython==8.28.0
comm==0.2.2
black==24.10.0
kiwisolver==1.4.7
biolord==0.0.3
paretoset==1.2.4
lightning==2.4.0
opt_einsum==3.4.0
tzdata==2024.2
tqdm==4.66.5
legacy-api-wrap==1.4
Jinja2==3.1.4
nvidia-cublas-cu12==12.1.3.1
aiohappyeyeballs==2.4.3
colorcet==3.1.0
fonttools==4.54.1
huggingface-hub==0.25.1
filelock==3.16.1
hupper==1.12.1
h11==0.14.0
multidict==6.1.0
treelite==4.3.0
pip==24.2
uc-micro-py==1.0.3
leidenalg==0.10.2
cachetools==5.5.0
recommonmark==0.7.1
datashader==0.16.3
pycodestyle==2.12.1
Pygments==2.18.0
jsonpointer==3.0.0
json5==0.9.25
mypy==1.13.0
tensorstore==0.1.71
zope.interface==7.0.3
setuptools==75.1.0
cfgv==3.4.0
ptyprocess==0.7.0
webencodings==0.5.1
pyramid==2.0.2
etils==1.11.0
sentry-sdk==2.15.0
nx-cugraph-cu12==24.8.0
numba==0.60.0
scikit-learn==1.5.2
humanize==4.11.0
tomlkit==0.13.2
rich==13.9.1
python-louvain==0.16
nvidia-nccl-cu12==2.20.5
cucim-cu12==24.8.0
cugraph-cu12==24.8.0
ftpretty==0.4.0
defusedxml==0.7.1
patsy==0.5.6
pytorch-lightning==2.4.0
panel==1.5.1
decorator==5.1.1
libucx-cu12==1.15.0.post1
pynndescent==0.5.13
click==8.1.7
nbsphinx==0.9.5
safetensors==0.4.5
dask==2024.7.1
nest-asyncio==1.6.0
plotly==5.24.1
nvidia-cusolver-cu12==11.4.5.107
pyro-ppl==1.9.1
pyproj==3.7.0
beautifulsoup4==4.12.3
zipp==3.20.2
mccabe==0.7.0
MarkupSafe==2.1.5
fastjsonschema==2.20.0
cma==3.2.2
multipledispatch==1.0.0
nvidia-cudnn-cu12==9.1.0.70
pandocfilters==1.5.1
jupyter_core==5.7.2
cuspatial-cu12==24.8.0
timm==1.0.9
soupsieve==2.6
pyviz_comms==3.0.3
referencing==0.35.1
llvmlite==0.43.0
pytcga==0.0.4
flake8==7.1.1
holoviews==1.19.1
terminado==0.18.1
antlr4-python3-runtime==4.9.3
markdown-it-py==3.0.0
pydot==3.0.2
autoflake==2.3.1
nvidia-nvtx-cu12==12.1.105
tornado==6.4.1
importlib_resources==6.4.5
cuproj-cu12==24.8.0
mypy-extensions==1.0.0
pylibcugraph-cu12==24.8.0
tensorboard-data-server==0.7.2
fsspec==2024.9.0
ipykernel==6.29.5
wcwidth==0.2.13
fastrlock==0.8.2
hydra-core==1.3.2
docutils==0.21.2
h5py==3.12.1
tenacity==9.0.0
et_xmlfile==2.0.0
typing_extensions==4.12.2
threadpoolctl==3.5.0
nvidia-cusparse-cu12==12.1.0.106
grapheme==0.6.0
rpds-py==0.20.0
astroid==3.3.5
jupyter_server==2.14.2
smmap==5.0.1
numpydoc==1.8.0
bokeh==3.6.0
cuda-python==12.6.0
pexpect==4.9.0
websocket-client==1.8.0
scipy==1.14.1
translationstring==1.4
notebook==7.2.2
raft-dask-cu12==24.8.1
cuxfilter-cu12==24.8.0
scanpy==1.10.3
pynvml==11.4.1
natsort==8.4.0
docrep==0.3.2
openpyxl==3.1.5
mdurl==0.1.2
alive-progress==3.2.0
prompt_toolkit==3.0.48
isoduration==20.11.0
pillow==10.4.0
docker-pycreds==0.4.0
geopandas==1.0.1
stack-data==0.6.3
async-lru==2.0.4
gitdb==4.0.11
PasteDeploy==3.1.0
scikit-misc==0.5.1
torchvision==0.19.1
attrs==24.2.0
igraph==0.11.6
Sphinx==8.1.3
alabaster==1.0.0
mistune==3.0.2
certifi==2024.8.30
lightning-utilities==0.11.7
cuvs-cu12==24.8.0
widgetsnbextension==4.0.13
scib==1.1.5
sniffio==1.3.1
imageio==2.35.1
XlsxWriter==3.2.0
umap-learn==0.5.7
lazy_loader==0.4
urllib3==2.2.3
nbformat==5.10.4
setproctitle==1.3.3
sympy==1.13.3
pure_eval==0.2.3
packaging==24.1
rapids-dask-dependency==24.8.0
scikit-image==0.23.2
rfc3986-validator==0.1.1
triton==3.0.0
argon2-cffi-bindings==21.2.0
pytest==8.3.3
networkx==3.3
babel==2.16.0
dask-expr==1.1.9
pymoo==0.6.1.3
chex==0.1.88
flax==0.10.2
six==1.16.0
anyio==4.6.0
plaster==1.0
nodeenv==1.9.1
pycparser==2.22
cycler==0.12.1
snowballstemmer==2.2.0
nvidia-cufft-cu12==11.0.2.54
jedi==0.19.1
sortedcontainers==2.4.0
distributed==2024.7.1
iniconfig==2.0.0
idna==3.10
param==2.1.1
webcolors==24.8.0
cupy-cuda12x==13.3.0
commonmark==0.9.1
simplejson==3.19.3
rmm-cu12==24.8.2
arrow==1.3.0
about-time==4.2.1
protobuf==5.28.2
overrides==7.7.0
texttable==1.7.0
nvidia-nvjitlink-cu12==12.6.77
venusian==3.1.0
Werkzeug==3.1.3
pre-commit==3.8.0
locket==1.0.0
xyzservices==2024.9.0
nvidia-cuda-cupti-cu12==12.1.105
uuid==1.30
aiosignal==1.3.1
pylint==3.3.1
omegaconf==2.3.0
httpx==0.27.2
sphinxcontrib-serializinghtml==2.0.0
absl-py==2.1.0
wandb==0.18.3
docopt==0.6.2
sphinxcontrib-applehelp==2.0.0
tinycss2==1.3.0
pandas==2.2.2
fqdn==1.5.1
distributed-ucxx-cu12==0.39.1
cffi==1.17.1
asttokens==2.4.1
contourpy==1.3.0
pyperclip==1.9.0
anndata==0.10.9
wheel==0.44.0
Deprecated==1.2.14
aiohttp==3.10.8
ml_dtypes==0.5.0
sparse==0.15.4
optax==0.2.4
nose==1.3.7
rapids_singlecell==0.10.9
pyct==0.5.0
ucx-py-cu12==0.39.2
jupyterlab==4.2.6
scvi-tools==1.2.1
nvidia-cuda-runtime-cu12==12.1.105
cuml-cu12==24.8.0
pyzmq==26.2.0
tensorboard==2.18.0
requests==2.32.3
sphinxcontrib-qthelp==2.0.0
partd==1.4.2
sphinxcontrib-jsmath==1.0.1
ipywidgets==8.1.5
isort==5.13.2
mpmath==1.3.0
distlib==0.3.8
pyarrow==16.1.0
linkify-it-py==2.0.3
wrapt==1.16.0
jupyter-lsp==2.2.5
rapids==0.0.1
ml_collections==1.0.0
pylibraft-cu12==24.8.1
orbax-checkpoint==0.10.3
simpervisor==1.0.0
pep8==1.7.1
mudata==0.3.1
jupyterlab_widgets==3.0.13
pyparsing==3.1.4
jupyter_server_proxy==4.4.0
nvidia-cuda-nvrtc-cu12==12.1.105
myst-parser==4.0.0
yarl==1.13.1
numpyro==0.16.1
stdlib-list==0.10.0
virtualenv==20.26.6
rfc3339-validator==0.1.4
httpcore==1.0.6
types-python-dateutil==2.9.0.20240906
nbclient==0.10.0
argon2-cffi==23.1.0
pytz==2024.2
pynvjitlink-cu12==0.3.0
mdit-py-plugins==0.4.2
shapely==2.0.6
nbconvert==7.16.4
tabulate==0.9.0
matplotlib==3.9.2
dill==0.3.9
charset-normalizer==3.3.2
notebook_shim==0.2.4
xarray==2024.9.0
ucxx-cu12==0.39.1
uri-template==1.3.0
conceptlab==0.1.0
jupyter_server_terminals==0.5.3
matplotlib-inline==0.1.7
sphinxcontrib-devhelp==2.0.0
session-info==1.0.0
pyogrio==0.10.0
WebOb==1.8.8
toolz==0.12.1
jupyter-events==0.10.0
parso==0.8.4
debugpy==1.8.7
pathspec==0.12.1
cloudpickle==3.0.0
executing==2.1.0
array_api_compat==1.8
jax==0.4.38
sphinxcontrib-htmlhelp==2.1.0
autograd==1.7.0
zope.deprecation==4.4.0
dask-cuda==24.8.2
importlib_metadata==8.5.0
traitlets==5.14.3
torch==2.4.1
seaborn==0.13.2
identify==2.6.1
jupyterlab_pygments==0.3.0
Markdown==3.7
tifffile==2024.9.20
nvtx==0.2.10
grpcio==1.68.1
statsmodels==0.14.3
GitPython==3.1.43
plaster-pastedeploy==0.7
torchmetrics==1.4.2
jupyterlab_server==2.27.3
goatools==1.4.12
platformdirs==4.3.6
python-json-logger==2.0.7
bleach==6.1.0
cudf-cu12==24.8.3
msgpack==1.1.0
nvidia-curand-cu12==10.3.2.106
python-dateutil==2.9.0.post0
jupyter_client==8.6.3
tblib==3.0.0
Send2Trash==1.8.3
numpy==1.26.4
pyro-api==0.1.2
jsonschema==4.23.0
zict==3.0.0
prometheus_client==0.21.0
joblib==1.4.2
psutil==6.0.0
dask-cudf-cu12==24.8.3
PyYAML==6.0.2
jsonschema-specifications==2023.12.1
pyflakes==3.2.0
imagesize==1.4.1
frozenlist==1.4.1
pluggy==1.5.0
torchdata==0.8.0
jaxlib==0.4.38
